@font-face {
    font-family: "Scriptorama";
    src: url("./fonts/Scriptorama.ttf");
}

#welcome-image {
    min-height: 700px;
    text-align: center;
    color: white;
    background-image: url("../img/welcome_image.bmp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#welcome-image-mobile {
    min-height: 350px;
    text-align: center;
    color: white;
    background-image: url("../img/welcome_image_mobile.bmp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#navbar-logo {
    color: #B39DDB;
    font-size: 23pt;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #B39DDB;
    font-weight: bold;
}

#person-name {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 85px;
    font-family: 'Scriptorama';
}

#person-name-mobile {
    font-size: 55px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 85px;
    font-family: 'Scriptorama';
}

#greating-text {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 26px;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#welcome-section {
    text-align: center;
}

.btn-primary {
    background-color: #B39DDB;
    border-color: #B39DDB;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #a071f5;
    border-color: #a071f5;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #a071f5;
    border-color: #a071f5;
}

.btn-xl {
    font-size: 23px;
    padding: 20px 40px;
    font-weight: bold;
}

#about {
    margin-top: 32px;
}

.section-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 32px;
}

.no-border {
    border: None;
}

.card-title {
    font-weight: bold;
}

.card-title-right {

}

.card-addition-text {
    color: #B39DDB;
    font-weight: bold;
    font-size: 24px;
}

#team {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-icon:hover {
    color: #a071f5;
}

.social-icon {
    color: #B39DDB;
}

.color-block {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f5f5f5
}

.color-pallete-items {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section {
    margin-top: 56px;
}

#color-block-0 {
    background-color: #f6f6ec;
}

#color-block-1 {
    background-color: #f9ec8f;
}

#color-block-2 {
    background-color: #c7ad98;
}

#color-block-3 {
    background-color: #b07e63;
}

#color-block-4 {
    background-color: #664845;
}

#color-block-5 {
    background-color: #a16684;
}

#color-block-6 {
    background-color: #6d3d67;
}

#color-block-7 {
    background-color: #484364;
}

#color-block-8 {
    background-color: #878083;
}

#color-block-9 {
    background-color: #705e6c;
}

#color-block-10 {
    background-color: #c4d0d9;
}

#color-block-11 {
    background-color: #a4aaba;
}

#color-block-12 {
    background-color: #6f8c9b;
}

#color-block-13 {
    background-color: #5b627e;
}

#color-block-14 {
    background-color: #b8c2aa;
}

#color-block-15 {
    background-color: #7c8f78;
}

#color-block-16 {
    background-color: #4f6561;
}

#color-block-17 {
    background-color: #2a3d48;
}

#color-block-18 {
    background-color: #5a5141;
}

#color-block-19 {
    background-color: #2f2931;
}